@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0px;
  width: 100%;
  min-width: 420px;
}

header, footer, section {
  width: 100%;
}

section {
  padding: 5rem 0 7rem 0;
}
section.white {
  background-color: #FFFFFF;
}
section.background {
  background-color: #e5e5e5;
}
section.background2 {
  background-color: #f7f7f7;
}

p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
}

strong {
  font-weight: 700;
}

em, .italic {
  font-style: italic;
}

ul, ol {
  margin-bottom: 0.75rem;
}

ul {
  list-style-type: circle;
}
ul li {
  margin-left: 0.5rem;
}

ol {
  list-style-type: decimal;
}
ol li {
  margin-left: 0.5rem;
}

.text-xs {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 24px !important;
}

.note-1 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: auto;
}

.note-2 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: auto;
}

.label {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: auto;
  color: #D9C3A9;
}

.slide-text {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: auto;
}

.quote {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: auto;
  font-style: italic;
}

.subt-1 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 18px !important;
  font-weight: 500;
  line-height: auto;
}

.subt-2 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 16px !important;
  font-weight: 800;
  line-height: auto;
}

.subt-3 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 16px !important;
  font-weight: 500;
  line-height: auto;
}

.subt-4 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 14px !important;
  font-weight: 600;
  line-height: auto;
}

h1, .h1 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 50px !important;
  line-height: 60px;
}

h2, .h2 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 40px !important;
  line-height: 50px;
}

h3, .h3 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 30px !important;
  line-height: auto;
}

h4, .h4 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 25px !important;
  line-height: auto;
}

h5, .h5 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 22px !important;
  font-weight: 600;
  line-height: auto;
}

h6, .h6 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 18px !important;
  line-height: auto;
}

.ext-title {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 70px !important;
  line-height: 1.2;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.w-full {
  width: 100%;
}
.w-max {
  width: 100%;
}
@media (min-width: 992px) {
  .w-max {
    max-width: 1170px;
  }
}

.w-half {
  width: 100%;
}
@media (min-width: 992px) {
  .w-half {
    max-width: 50%;
  }
}

.d-flex {
  display: flex;
}
.d-flex.column {
  flex-direction: column;
}
.d-flex.center {
  justify-content: center;
  align-items: center;
}
.d-flex.space-between {
  justify-content: space-between;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.33);
  }
  100% {
    transform: scale(1);
  }
}
input, select, textarea {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}

input::placeholder, textarea::placeholder {
  color: #9C9EA6;
  font-style: italic;
}
input:focus::placeholder, textarea:focus::placeholder {
  opacity: 0;
}
input.error, textarea.error {
  border-color: #EF4444;
  box-shadow: -1px -1px 2px inset #EF4444;
}
input.shake, textarea.shake {
  animation: horizontal-shaking 0.3s linear 1 alternate;
}

.select-box {
  width: 100%;
  position: relative;
}
.select-box select {
  background: transparent;
}
.select-box i {
  height: 16px;
  position: absolute;
  right: 1.5rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
a {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  color: #4F5955;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4F5955;
  font-weight: 700 !important;
  line-height: auto;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #4F5955;
  text-decoration: none;
}

.btn-theme {
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: #4F5955;
  color: #F2EDDC;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #F2EDDC;
  color: #4F5955;
}

.btn-sub1 {
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: #F2EDDC;
  color: #4F5955;
  border: none;
}
.btn-sub1:hover {
  text-decoration: none;
  background: #4F5955;
  color: #F2EDDC;
}

.btn-tag {
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: transparent;
  color: #4F5955;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 12px 16px;
}
.btn-tag:hover {
  text-decoration: none;
  background: #4F5955;
  color: #FFFFFF;
}
.btn-tag.current {
  background: #D9C3A9;
  color: #4F5955;
}

.btn-social {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-right: 1px solid #9C9EA6;
  color: #FFFFFF;
}
.btn-social:first-child {
  border-left: 1px solid #9C9EA6;
}
.btn-social:hover {
  text-decoration: none;
  background: #F2EDDC;
  color: #4F5955;
}

nav {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
}
nav .nav-item {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4F5955;
  font-weight: 700 !important;
  line-height: auto;
  transition: all 0.3s ease-in-out;
  box-sizing: content-box;
  transition: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
nav .nav-item:hover {
  text-decoration: none;
  border-bottom: 2px solid;
}
nav .nav-item.current {
  color: #D9C3A9;
  border-bottom: 2px solid #D9C3A9;
}

.pagination {
  gap: 1rem;
}
.pagination .number {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .number a {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 18px !important;
  border: none !important;
}
.pagination .number.active {
  border: 1px solid #D9C3A9 !important;
  border-radius: 25px;
}
.pagination .change {
  padding: 0 !important;
  border: none !important;
}
.pagination .change.inactive {
  color: #e5e5e5;
}

aside form.help-box {
  padding: 1rem;
  background-color: #4F5955;
  position: relative;
}
aside form.help-box img {
  position: absolute;
  bottom: 0;
  right: 0;
}
aside form.help-box fieldset {
  color: #FFFFFF;
}
aside form.help-box fieldset legend {
  color: #F2EDDC;
}
aside form.help-box fieldset .input-box {
  position: relative;
  margin-top: 1.5rem;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}
aside form.help-box fieldset .input-box button {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto 0;
  font-size: 18px;
  color: #9C9EA6;
}
aside form.help-box fieldset .input-box button i {
  cursor: pointer;
}

aside .tags-box .h5 {
  margin-bottom: 0.75rem;
}
aside .tags-box .tags {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

aside .recent-projects-box a:not(:first-child) {
  padding-top: 1.5rem;
  border-top: 1px solid #e5e5e5;
}
aside .recent-projects-box a:not(:last-child) {
  padding-bottom: 1.5rem;
}
aside .recent-projects-box a .card {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 1rem;
}
aside .recent-projects-box a .card .card-img {
  width: 100%;
  aspect-ratio: 1.25/1;
  object-fit: cover;
  align-self: center;
}
aside .recent-projects-box a .card .card-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  padding: 0.5rem 0;
}
aside .recent-projects-box a .card .card-content .h5 {
  margin-bottom: 0;
}
aside .recent-projects-box a .card .card-content .date {
  color: #9C9EA6;
}
aside .recent-projects-box a .card .card-content .date i {
  padding-right: 0.5rem;
}
aside .recent-projects-box a .card .card-content .card-text {
  margin-top: 0.5rem;
}
aside .recent-projects-box a .card .card-content .read-more {
  align-self: flex-end;
  font-weight: 700;
}
aside .recent-projects-box a .card .card-content .read-more i {
  padding-left: 1.75rem;
  color: #D9C3A9;
}

section.u-section {
  width: 100%;
}
section.u-section.u-p-top {
  padding-top: 5rem;
}
section.u-section.u-p-bottom {
  padding-bottom: 5rem;
}

.u-container {
  width: 100%;
}
.u-container.u-p-all {
  padding: 2rem;
}

section.u-section.u-bg-white {
  background-color: #FFFFFF;
}
section.u-section.u-bg-background {
  background-color: #e5e5e5;
}
section.u-section.u-bg-background2 {
  background-color: #f7f7f7;
}
section.u-section.u-bg-main {
  background-color: #4F5955;
}
section.u-section.u-bg-footer {
  background-color: #0e0e0e;
}

.u-container.u-bg-white {
  background-color: #FFFFFF;
}
.u-container.u-bg-background {
  background-color: #e5e5e5;
}
.u-container.u-bg-background2 {
  background-color: #f7f7f7;
}
.u-container.u-bg-main {
  background-color: #4F5955;
}
.u-container.u-bg-footer {
  background-color: #0e0e0e;
}

a.u-btn-theme {
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: #4F5955;
  color: #F2EDDC;
  border: none;
}
a.u-btn-theme:hover {
  text-decoration: none;
  background: #F2EDDC;
  color: #4F5955;
}

a.u-btn-sub1 {
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: #F2EDDC;
  color: #4F5955;
  border: none;
}
a.u-btn-sub1:hover {
  text-decoration: none;
  background: #4F5955;
  color: #F2EDDC;
}

.u-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.u-label {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: auto;
  color: #D9C3A9;
  text-transform: uppercase;
}

.u-h1 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 50px !important;
  line-height: 60px;
}

.u-h2 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 40px !important;
  line-height: 50px;
}

.u-h3 {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 30px !important;
  line-height: auto;
}

.u-quote {
  gap: 0.5rem;
}
.u-quote i {
  color: #D9C3A9;
}
.u-quote .u-quote-text {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: auto;
  font-style: italic;
}

.u-p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0.75rem;
}

.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(2rem, min-content);
  column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
  position: relative;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 3, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(50px, min-content);
  column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 3, var(--umb-block-grid--area-grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1024px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
  }
}
header {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  position: relative;
  z-index: 9999;
  background-color: #FFFFFF;
}
header .container .top {
  background-color: #4F5955;
}
header .container .top .content-box .address-box {
  color: #FFFFFF;
}
header .container .top .content-box .address-box p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: auto;
  color: #FFFFFF;
}
header .container .top .content-box .address-box p a {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: auto;
  color: #FFFFFF;
  text-decoration: underline;
}
header .container .top .content-box .address-box p a:hover {
  color: #D9C3A9;
}
header .container .top .content-box .address-box p a:visited {
  color: #9C9EA6;
}
header .container .bottom {
  margin: 1rem 0;
}
header .container .bottom .search {
  cursor: pointer;
}
header .container .bottom .search:hover {
  transform: scale(1);
  animation: beat 0.6s 1;
}

footer {
  padding: 1rem;
  background-color: #0e0e0e;
}
footer .container .box p {
  display: inline;
}
footer .container .box a {
  color: #D9C3A9;
}

section.page-top {
  background-color: #f7f7f7;
  height: 100%;
  padding: 0;
}
section.page-top .container {
  position: relative;
  padding: 2rem 0;
}
section.page-top .container .bg-img-left {
  position: absolute;
  padding-top: 3rem;
  left: 0;
  top: 0;
}
section.page-top .container .bg-img-right {
  position: absolute;
  padding-bottom: 1.5rem;
  right: 0;
  bottom: 0;
}
section.page-top .container .box h1 {
  margin-bottom: 0.5rem;
}
section.page-top .container .box .breadcrumbs {
  gap: 1rem;
}
section.page-top .container .box .breadcrumbs a, section.page-top .container .box .breadcrumbs div.current {
  font-size: 14px;
}
section.page-top .container .box .breadcrumbs i {
  font-size: 10px;
}
section.page-top .container .box .breadcrumbs div.current {
  color: #D9C3A9;
}

section.hero {
  padding: 0;
  position: relative;
}
section.hero .hero-bg {
  display: block;
  width: 100%;
  max-height: 800px;
  object-fit: cover;
}
section.hero .container {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
section.hero .container .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
section.hero .container .hero-content h1 {
  margin: 0;
}

section.about-us .container .box {
  position: relative;
}
section.about-us .container .box .about-content {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}
section.about-us .container .box .about-content .signature {
  position: relative;
  margin-top: 2rem;
}
section.about-us .container .box .about-content .signature img {
  width: 100%;
  max-width: 200px;
}
section.about-us .container .box .about-content .signature p {
  position: absolute;
  bottom: 0;
}
section.about-us .container .box .about-form {
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
}
section.about-us .container .box .about-form form fieldset legend {
  width: 100%;
  padding: 1.5rem;
  background-color: #4F5955;
  color: #F2EDDC;
}
section.about-us .container .box .about-form form fieldset .inputs {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.about-us .container .box .about-form form fieldset .inputs input[type=submit] {
  width: 100%;
}

section.our-services .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.our-services .container .box .label, section.our-services .container .box h2 {
  text-align: center;
}
section.our-services .container .box .card-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
@media (min-width: 992px) {
  section.our-services .container .box .card-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
section.our-services .container .box .card-box a .card {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  background-color: #FFFFFF;
}
section.our-services .container .box .card-box a .card .h5, section.our-services .container .box .card-box a .card .img-wrapper img {
  transition: all 0.3s ease-in-out;
}
section.our-services .container .box .card-box a .card .h5, section.our-services .container .box .card-box a .card p {
  margin: 0;
  padding: 1.2rem;
}
section.our-services .container .box .card-box a .card .img-wrapper {
  overflow: hidden;
}
section.our-services .container .box .card-box a .card .img-wrapper img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
section.our-services .container .box .card-box a:hover {
  text-decoration: none;
}
section.our-services .container .box .card-box a:hover .card {
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
}
section.our-services .container .box .card-box a:hover .card .h5 {
  text-decoration: underline;
}
section.our-services .container .box .card-box a:hover .card .img-wrapper img {
  transform: scale(1.2) rotate(3deg);
  transform-origin: 50% 50%;
}
section.our-services .container .box .pagination {
  margin-top: 2rem;
}

section.our-story {
  padding-bottom: 0;
}
section.our-story .container .box {
  position: relative;
}
section.our-story .container .box .bg-img {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
section.our-story .container .box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
section.our-story .container .box .content .hs .h2, section.our-story .container .box .content p {
  margin: 0;
  text-align: center;
}
section.our-story .container .box .content .hs .h2.color, section.our-story .container .box .content p.color {
  color: #D9C3A9;
}
section.our-story .container .box .content .hs .h2 {
  font-weight: 700;
}
section.our-story .container .box .content .crew-img {
  margin-top: 4rem;
}

section.success-stories {
  padding-top: 0;
  position: relative;
  margin-bottom: 6rem;
}
section.success-stories .container {
  background-color: #4F5955;
  padding-bottom: 10rem;
}
section.success-stories .container .box {
  position: relative;
  padding-top: 4rem;
  height: 600px;
}
section.success-stories .container .box .bg-img {
  position: absolute;
  top: 4rem;
  right: 0;
  left: 0;
  margin: 0 auto;
}
section.success-stories .container .box .content {
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.success-stories .container .box .content h2.color, section.success-stories .container .box .content .card-box .card .card-text {
  color: #FFFFFF;
  text-align: center;
}
section.success-stories .container .box .content .card-box {
  display: flex;
  padding: 2rem;
  gap: 4rem;
}
section.success-stories .container .box .content .card-box .card .card-number {
  font-size: 100px;
  font-weight: 600;
  color: #D9C3A9;
  text-align: center;
}
section.success-stories .container .box .content .card-box .card .card-text {
  margin-top: -2rem;
}
section.success-stories img.bottom-img {
  position: absolute;
  bottom: -6rem;
  right: 0;
  left: 0;
  margin: auto;
}

section.our-projects {
  padding-bottom: 0;
}
section.our-projects .container .box {
  align-items: center;
}
section.our-projects .container .box .carousel {
  display: flex;
}
section.our-projects .container .box .carousel a {
  width: 100%;
}
section.our-projects .container .box .carousel a .card {
  position: relative;
  height: 100%;
  width: 100%;
}
section.our-projects .container .box .carousel a .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
section.our-projects .container .box .carousel a .card .bottom {
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  position: absolute;
  bottom: 0rem;
  right: 0;
  width: 100%;
  background: rgba(79, 89, 85, 0.5);
  color: #FFFFFF;
  display: grid;
  grid-template-areas: "heading chevron" "text chevron";
}
section.our-projects .container .box .carousel a .card .bottom .card-heading {
  transition: all 0.3s ease-in-out;
  grid-area: heading;
  color: #FFFFFF;
  margin: 0;
}
section.our-projects .container .box .carousel a .card .bottom .card-text {
  grid-area: text;
}
section.our-projects .container .box .carousel a .card .bottom i {
  transition: all 0.3s ease-in-out;
  grid-area: chevron;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #FFFFFF;
  opacity: 0;
}
section.our-projects .container .box .carousel a:hover .bottom {
  padding: 2rem;
  background: #4f5955;
}
section.our-projects .container .box .carousel a:hover .bottom .card-heading {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 18px !important;
  line-height: auto;
  margin: 0;
  color: #D9C3A9;
}
section.our-projects .container .box .carousel a:hover .bottom i {
  opacity: 1;
}

section.brands {
  padding-bottom: 5rem;
}
section.brands .container .box {
  justify-content: space-evenly;
}

section.person-presentation {
  background-color: #FFFFFF;
}
section.person-presentation .container .box {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
section.person-presentation .container .box .image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.person-presentation .container .box .image img {
  width: 100%;
}
section.person-presentation .container .box .image .img-text {
  font-style: italic;
}
section.person-presentation .container .box .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.person-presentation .container .box .text p {
  font-size: 14px;
}
section.person-presentation .container .box .text :not(:last-child) {
  padding-bottom: 1rem;
}

section.review {
  background-color: #f7f7f7;
  padding: 0;
}
section.review .container {
  position: relative;
}
section.review .container img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
section.review .container .box {
  padding: 4rem 0;
}
section.review .container .box .content {
  padding-right: 4rem;
}
section.review .container .box .content .text {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: auto;
  font-style: italic;
  color: #9C9EA6;
}
section.review .container .box .content .stars {
  padding: 1.5rem 0;
  gap: 0.5rem;
}
section.review .container .box .content .brand {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
}

section.experts {
  background-color: #FFFFFF;
}
section.experts .container .box h2 {
  text-align: center;
}
section.experts .container .box .umb-block-grid__layout-container {
  row-gap: 3rem;
}
section.experts .container .box .umb-block-grid__layout-container div.expert-row .umb-block-grid__layout-container {
  column-gap: 2rem;
}
section.experts .container .box .umb-block-grid__layout-container div.expert-row .umb-block-grid__layout-container .card {
  border: 1px solid #e5e5e5;
}
section.experts .container .box .umb-block-grid__layout-container div.expert-row .umb-block-grid__layout-container .card img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
section.experts .container .box .umb-block-grid__layout-container div.expert-row .umb-block-grid__layout-container .card .text {
  padding: 1rem;
}
section.experts .container .box .umb-block-grid__layout-container div.expert-row .umb-block-grid__layout-container .card .text .name {
  margin: 0;
}
section.experts .container .box .umb-block-grid__layout-container div.expert-row .umb-block-grid__layout-container .card .text .title {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: auto;
}

section.let-us-know {
  padding-bottom: 0;
}
section.let-us-know .container .box {
  gap: 3rem;
}
section.let-us-know .container .box .left {
  position: relative;
  height: 100%;
  display: flex;
}
section.let-us-know .container .box .left img.dotnslide {
  padding-top: 3rem;
}
section.let-us-know .container .box .left img.dude {
  position: absolute;
  bottom: 0;
  left: 2rem;
}
section.let-us-know .container .box .right .text-grid:not(:last-child) {
  margin-bottom: 3rem;
}
section.let-us-know .container .box .right .text-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon heading" ". text";
}
section.let-us-know .container .box .right .text-grid i {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  color: #D9C3A9;
}
section.let-us-know .container .box .right .text-grid .heading {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #535656;
  font-family: "Poppins", sans-serif;
  line-height: 160%;
  font-weight: 800;
  color: #4F5955;
  margin-bottom: 2rem;
  font-size: 14px !important;
  font-weight: 600;
  line-height: auto;
  margin: 0;
  grid-area: heading;
}
section.let-us-know .container .box .right .text-grid .text {
  grid-area: text;
}
section.let-us-know .container .box .right .text-grid.phone .text, section.let-us-know .container .box .right .text-grid.email .text {
  font-style: italic;
}

section.question .container .box form fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.question .container .box form fieldset legend {
  margin-bottom: 1.75rem;
}
section.question .container .box form fieldset .input-box {
  display: flex;
  gap: 2rem;
  width: 100%;
}
section.question .container .box form fieldset .input-box label, section.question .container .box form fieldset .input-box label input {
  width: 100%;
}

section.projects-page .container .box {
  display: grid;
  grid-template-columns: 3fr 1px 1fr;
  gap: 2rem;
}
section.projects-page .container .box .content {
  padding-right: 2rem;
}
section.projects-page .container .box .content a:not(:first-child) {
  padding-top: 1.5rem;
  border-top: 1px solid #e5e5e5;
}
section.projects-page .container .box .content a:not(:last-child) {
  padding-bottom: 1.5rem;
}
section.projects-page .container .box .content a .card {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 2rem;
}
section.projects-page .container .box .content a .card .card-img {
  width: 100%;
  aspect-ratio: 1.85/1;
  object-fit: cover;
}
section.projects-page .container .box .content a .card .card-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  padding: 0.5rem 0;
}
section.projects-page .container .box .content a .card .card-content .h5 {
  margin-bottom: 0;
}
section.projects-page .container .box .content a .card .card-content .date {
  color: #9C9EA6;
}
section.projects-page .container .box .content a .card .card-content .date i {
  padding-right: 0.5rem;
}
section.projects-page .container .box .content a .card .card-content .card-text {
  margin-top: 0.5rem;
}
section.projects-page .container .box .content a .card .card-content .read-more {
  align-self: flex-end;
  font-weight: 700;
}
section.projects-page .container .box .content a .card .card-content .read-more i {
  padding-left: 1.75rem;
  color: #D9C3A9;
}
section.projects-page .container .box .line {
  display: flex;
  align-items: center;
  height: 100%;
}
section.projects-page .container .box .line::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #e5e5e5;
}
section.projects-page .container .box aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section.map-contact-us {
  padding-top: 0;
  padding-bottom: 10rem;
}
section.map-contact-us .container {
  position: relative;
}
section.map-contact-us .container .map-overlay {
  background-color: #e5e5e5;
}
section.map-contact-us .container .map-overlay img.map {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.map-contact-us .container .box {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  position: absolute;
  top: 15rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  padding: 3rem;
}
section.map-contact-us .container .box legend, section.map-contact-us .container .box .text {
  text-align: center;
}
section.map-contact-us .container .box .text {
  padding-bottom: 2rem;
}
section.map-contact-us .container .box .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
section.map-contact-us .container .box .inputs .input-box {
  display: flex;
  gap: 1rem;
  width: 100%;
}
section.map-contact-us .container .box .inputs .input-box label, section.map-contact-us .container .box .inputs .input-box input, section.map-contact-us .container .box .inputs .input-box textarea {
  width: 100%;
}

section.service-item {
  padding-bottom: 0;
}
section.service-item .container .box {
  display: grid;
  grid-template-columns: 1fr 1px 3fr;
  gap: 2rem;
}
section.service-item .container .box aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.service-item .container .box aside .h5 {
  margin-bottom: 0.75rem;
}
section.service-item .container .box .line {
  display: flex;
  align-items: center;
  height: 100%;
}
section.service-item .container .box .line::after {
  content: "";
  width: 1px;
  height: 80%;
  background-color: #e5e5e5;
}
section.service-item .container .box .content p {
  margin-bottom: 0.75rem;
}

section.project-item .container .box {
  display: grid;
  grid-template-columns: 3fr 1px 1fr;
  gap: 2rem;
}
section.project-item .container .box .content p {
  margin-bottom: 0.75rem;
}
section.project-item .container .box .content .project-tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
section.project-item .container .box .content .project-tags .heading {
  font-size: 14px;
  font-weight: 700;
}
section.project-item .container .box .content .project-tags .project-tag {
  width: fit-content;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #F2EDDC;
  color: #4F5955;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 4px 8px;
}
section.project-item .container .box .line {
  display: flex;
  align-items: center;
  height: 100%;
}
section.project-item .container .box .line::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #e5e5e5;
}
section.project-item .container .box aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.project-item .container .box aside .h5 {
  margin-bottom: 0.5rem;
}
section.project-item .container .box aside .heading {
  font-weight: 600;
}
section.project-item .container .box aside .tags-box .tags {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}/*# sourceMappingURL=site.css.map */