<div class="about">
    <div class="h5">About us</div>
    <img src="/media/static-images/asideAbout.svg" alt="">
    <div class="text">Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</div>
</div>