@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;
@{
	Layout = null;
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "siteSettings") ?? null;
    var siteTitle = settings?.Value<string>("siteTitle") ?? "Site title unavaliable";
    var siteMotto = settings?.Value<string>("siteMotto") ?? "Site motto unavaliable";

    var pageTitle = !string.IsNullOrEmpty(ViewBag?.Title) ? $"{ViewBag?.Title}" : $"{siteTitle}";
    var pageMotto = !string.IsNullOrEmpty(ViewBag?.Motto) ? $"{ViewBag?.Motto}" : $"{siteMotto}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageTitle - @pageMotto</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="/media/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/media/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/media/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/media/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/media/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/media/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/media/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/media/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicons/favicon-16x16.png">
    <link rel="manifest" href="/media/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/media/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- FONTAWESOME -->
    <script defer src="https://kit.fontawesome.com/3684d119b8.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="body-wrapper">
        @await Html.PartialAsync("static/header")
        
        <main>
            @RenderBody()
        </main>

        @await Html.PartialAsync("static/footer")

        <script src="/scripts/main.js"></script>
    </div>
</body>
</html>