@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var sectionImages = Model?.Content.Value<IEnumerable<IPublishedContent>>("sectionImages");
}

<section class="brands">
    <div class="w-full d-flex center container">
        <div class="w-max d-flex center box">

            @{
                foreach (var img in sectionImages)
                {
                    <img src="@img.Url()">
                }
            }
        </div>
    </div>
</section>