@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{

}

<div class="expert-row">
    @* @await Html.GetBlockGridHtmlAsync(Model, "expertCards") *@
    @* @await Html.GetBlockGridItemAreasHtmlAsync(Model, "expertCards") *@
    @* @await Html.GetBlockGridHtmlAsync(Model, "expertCards") *@

    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>